node_modules/

app/log/error-log/email-scraper/*
!app/log/error-log/email-scraper/.gitkeep

app/log/error-log/general-err/*
!app/log/error-log/general-err/.gitkeep

app/log/no-email-webistes/*
!app/log/no-email-webistes/.gitkeep

app/assets/hotel-sub-age-links/*
!app/assets/hotel-sub-age-links/.gitkeep

app/assets/pagination-links/*
!app/assets/pagination-links/.gitkeep

app/.env.default
app/config
.vscode
test
tasks
